@using IdentityServer4.EntityFramework.Entities
@model List<Client>

<div class="table-responsive-md">
    <table class="table">
        <thead>
            <tr>
                <th> Id </th>
                <th>  Enabled </th>
                <th>  Client Id </th>
                <th>  Protocol Type </th>
                <th>  Require Client Secret </th>
                <th>  Client Name </th>
                <th>  Description </th>
                <th>  Client Uri </th>
                <th>  Logo Uri </th>
                <th>  Require Consent </th>
                <th>  Allow Remember Consent </th>
                <th>  Always Include User Claims In IdToken </th>
                <th>  Require Pkce </th>
                <th>  Allow PlaextPkce </th>
                <th>  Require Request Object </th>
                <th>  Allow Access Tokens Via Browser </th>
                <th>  Front Channel Logout Uri </th>
                <th>  Front Channel Logout Session Required </th>
                <th>  Back Channel Logout Uri </th>
                <th>  Back Channel Logout Session Required </th>
                <th>  Allow Off line Access </th>
                <th>  Identity Token Lifetime </th>
                <th>  Allowed Identity Token Signing Algorithms </th>
                <th>  Access Token Lifetime </th>
                <th>  Authorization Code Lifetime </th>
                <th>  Consent Lifetime </th>
                <th>  Absolute Refresh Token Lifetime </th>
                <th>  Sliding Refresh Token Lifetime </th>
                <th>  Refresh Token Usage </th>
                <th>  Update Access Token Claims On Refresh </th>
                <th>  Refresh Token Expiration </th>
                <th>  Access Token Type </th>
                <th>  EnableLocal Login </th>
                <th>  Include Jwt Id </th>
                <th>  Always Send Client Claims </th>
                <th>  ClientClaimsPrefix </th>
                <th>  Pair Wise Subject Salt </th>
                <th>  Created </th>
                <th>  Updated </th>
                <th>  Last Accessed </th>
                <th>  User Sso Lifetime </th>
                <th>  User Code Type </th>
                <th>  Device Code Lifetime </th>
                <th>  Non Editable </th>
                <th>  Client Secrets </th>
                <th>  Allowed Grant Types </th>
                <th>  Redirect Uris </th>
                <th>  PostLogoutRedirectUris </th>
                <th>  Allowed Scopes </th>
                <th>  Identity Provider Restrictions </th>
                <th>  Claims </th>
                <th>  Allowed Cors Origins </th>
                <th>  Properties </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Client item in Model)
            {
                <tr>
                    <td> @item.Id </td>
                    <td> @item.Enabled </td>
                    <td> @item.ClientId </td>
                    <td> @item.ProtocolType </td>
                    <td> @item.RequireClientSecret </td>
                    <td> @item.ClientName </td>
                    <td> @item.Description </td>
                    <td> @item.ClientUri </td>
                    <td> @item.LogoUri </td>
                    <td> @item.RequireConsent </td>
                    <td> @item.AllowRememberConsent </td>
                    <td> @item.AlwaysIncludeUserClaimsInIdToken </td>
                    <td> @item.AllowedGrantTypes </td>
                    <td> @item.RequirePkce </td>
                    <td> @item.AllowPlainTextPkce </td>
                    <td> @item.RequireRequestObject </td>
                    <td> @item.AllowAccessTokensViaBrowser </td>
                    <td> @item.FrontChannelLogoutUri </td>
                    <td> @item.FrontChannelLogoutSessionRequired </td>
                    <td> @item.BackChannelLogoutUri </td>
                    <td> @item.BackChannelLogoutSessionRequired </td>
                    <td> @item.AllowOfflineAccess </td>
                    <td> @item.IdentityTokenLifetime </td>
                    <td> @item.AllowedIdentityTokenSigningAlgorithms </td>
                    <td> @item.AccessTokenLifetime </td>
                    <td> @item.AuthorizationCodeLifetime </td>
                    <td> @item.ConsentLifetime </td>
                    <td> @item.AbsoluteRefreshTokenLifetime </td>
                    <td> @item.SlidingRefreshTokenLifetime </td>
                    <td> @item.RefreshTokenUsage </td>
                    <td> @item.UpdateAccessTokenClaimsOnRefresh </td>
                    <td> @item.RefreshTokenExpiration </td>
                    <td> @item.AccessTokenType </td>
                    <td> @item.EnableLocalLogin </td>
                    <td> @item.IncludeJwtId </td>
                    <td> @item.AlwaysSendClientClaims </td>
                    <td> @item.ClientClaimsPrefix </td>
                    <td> @item.PairWiseSubjectSalt </td>
                    <td> @item.Created </td>
                    <td> @item.Updated </td>
                    <td> @item.LastAccessed </td>
                    <td> @item.UserSsoLifetime </td>
                    <td> @item.UserCodeType </td>
                    <td> @item.DeviceCodeLifetime </td>
                    <td> @item.NonEditable </td>
                    <td> @item.ClientSecrets </td>
                    <td> @item.RedirectUris </td>
                    <td> @item.PostLogoutRedirectUris </td>
                    <td> @item.AllowedScopes </td>
                    <td> @item.IdentityProviderRestrictions </td>
                    <td> @item.Claims </td>
                    <td> @item.AllowedCorsOrigins </td>
                    <td> @item.Properties </td>
                </tr>
            }
        </tbody>
    </table>
</div>
